// Formulaire Contact
@use '../mixins' as *;

.wrapper {
    @include display-flex(column, center, center);

    position: relative;
    width: 350px;
    height: 100px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;


}