@use 'variables' as *;
@use 'mixins' as *;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: auto;
    // max-width: 1440px;
    width: 100%;
    font-family: 'Josefin Sans', 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: $color-background;
    color: $color-text;
}

a {
    text-decoration: none;
    color: $color-text;

    // &:hover {
    //     background: $gradient-bg;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }
}

h1,
h2,
p {
    margin: 0;

}

h1 {
    font-size: 50px;

    @media (max-width: 320px) {
        font-size: 30px;
    }
}

h2 {
    background: $gradient-bg;
    background-clip: text;
    display: inline-block;
    color: transparent;
    font-size: 35px;
    margin-bottom: 30px;

    @media (max-width: 320px) {
        font-size: 25px;
    }
}

h1,
h2 {
    font-family: 'Playfair Display';
}

p,
a {
    font-size: 14px;

    @media (max-width: 320px) {
        font-size: 12px;
    }
}

ul {
    @include display-flex(row, space-around, center);
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}