  /* THEME COULEUR */
  $color-primary: #DC00D3;
  $color-secondary: #0CFFFF;
  $color-accent: #F5A623;
  $color-background: #100425;
  $color-text: #FAFAFA;
  $color-text-bg: #F8F8F8;

  /* DÉGRADÉ COULEUR BTN */
  $color-start: #5DFFFF;
  $color-end: #AE0CA7;


  /* DÉGRADÉ BACKGROUND */
  $bg-1: #DC00D3;
  $bg-2: #12B4B4;

  $color1: #FFCF87;
  $color2: #BD9FEF;
  $color3 : #7AE7FF;
  $color4 : #F0FDFF;

  $gradient-bg: linear-gradient(to right, $color1, $color2, $color3, $color4);



  $deepPurple1 : #130428;
  $deepPurple2 : #251043;
  $deepPurple3 : #38126D;
  $deepPurple4 : #261045;
  $deepPurple5 : #190634;

  $gradientBgCards: linear-gradient(108deg,
      $deepPurple1 7%,
      $deepPurple2 34%,
      $deepPurple3 57%,
      $deepPurple4 85%,
      $deepPurple5 100%);